*{
    margin-left: 5px;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./assets/fondo_negro.png);
    
}
header{
    width: 100%;
    padding: 20px;
    color: white;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content:flex-start;
    color: rgb(255, 255, 255);
}

.logo{

    width: 150px;
}
.slogan{
    font-family:fantasy;
}
.header{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.bandera{
    width: 28px;
}
h1{
    color: white;
    font-size: 80px;
    width: 35%;
    text-transform: uppercase;
}
h2{
    color: white;
}
p{
    color: white;
    font-size: 24px;
}
.descripcion{
    font-size: 19px;
    text-align:justify;
}
.Menu{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}
.Menu1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.food{
    width: 490px;
}
.Menu1{
    justify-content:space-around;
}
.chuleta, .hamburguesa, .arepa, .salchipapa, .tamal, .mojarra{
    width: 480px;

    
}
.bandeja, .asados{
    width: 500px;
}
.menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.superior:hover{
    width: 150px;
    transition: 0.5s;
    font-size: 30px;
    background-color: orangered;
    border-radius: 7px;
}
 .bandeja:hover, .asados:hover, .hamburguesa:hover, .chuleta:hover, .arepa:hover, .salchipapa:hover, .tamal:hover, .mojarra:hover{
    transition: 0.5s;
    width: 500px;
    background-color: orangered;
    font-size: 32px;
}
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    color: rgb(255, 255, 255);
    font-size: 23px;

}
.header2{
    display: flex;
    gap: 7px;
    list-style: none;
    color: rgb(255, 255, 255);
}
.redes{
    width: 20px;
}
.tamaño{
    font-size: 23px
}
.tamaño:hover{
    width: 180px;
    transition: 0.5s;
    font-size: 28px;
    background-color: orangered;
    border-radius: 7px;
}


